body {
  font-family: "Times New Roman", Times, serif;
}


.center {
  margin: auto;
  margin-top: 40px;
  width: 50%;
  border: 1px solid #d7d7d9;
  padding: 10px;
  border-radius: 9px;
  height: 390px;
}

.center h1{
  padding-left: 12px;
}

@media only screen and (max-width: 968px) {
  .center {
    width: 100%;
  }
}

.custom-input input{
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 0;

}

.form-control:focus {
  border-bottom-color: #0ccc36;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-input-label{
  font-size: 13px;
}

.btn-login{
  width: 100%;
}

.custom-card{
  width: 22rem;
}

.btn-link {
  font-weight: 400;
  color: #11993f;
  text-decoration: none;
}

.btn-link:hover {
  color: #2ac81c;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #858796;
  pointer-events: none;
}

/* card */

.card-link {
  font-weight: 400;
  color: #11993f;
  text-decoration: none;
}

.card-link:hover {
  color: #2ac81c;
  text-decoration: underline;
}

.card-link:focus, .card-link.focus {
  text-decoration: underline;
}

.card-link:disabled, .card-link.disabled {
  color: #858796;
  pointer-events: none;
}